body{
    background: rgb(154, 153, 153);
}
.header__text{
    font-size: 60px;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
}
.filter__cards{
    display: flex;
    justify-content: center;
}   
.filter__block{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.im-it{
    width: 70px;
}
.im-it-1{
    padding-left: 15px;
    width: 70px;
}
.filter__title{
    font-size: 24px;
    text-align: center;
}
.filter__block_1{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 5px;
}
.img-element{
    display: flex;
    height: 230px;
    width: 230px;
    padding: 0px 20px;
}
.cards{
    display: flex;
    flex-wrap: wrap;

    margin: 20px 0px 0px 50px;

}
.rest{
font-size: 20px;
color: white;
text-decoration: none;
margin: 0px 20px 0px 20px;

}
.rest.reg{
float:right;
margin-top: 30px;
}
.card__items{

    margin-bottom: 20px;
    background: gray;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px ;
}
.card__title{
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
}
.card__description{
    font-size: 20px;
    padding: 15px;
    height: 30px;
}
.price{
    color: white;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
}
.footer{
    margin-top: 300px;

    background: rgb(87, 87, 87);
    padding: 100px 0px 180px 20px;
    color: white;
    font-size: 20px;
}
.header{
    background: rgb(87, 87, 87);
    color: white;
    padding-bottom: 10px;
    margin-bottom: 30px;

}
.button{
    border: none;
    background: none;
}
.hide{
    display: none;
}
.button{
background:none;
border:none;
cursor: pointer;
}
.about{
color: white;
font-size: 20px;
padding: 30px;
height:100%;
}
.podrob{
background: white;
border-radius: 3px;
padding: 3px;
float: right;
color: black;
}
.info{
text-decoration: none;
color: black;}

.popup__close{
text-decoration: none;
color: black;
}
.popup{
position: fixed;
width:100%;
height: 100%;
background-color: rgba(0,0,0,0.8);
top:0;
left:0;
opacity:0;
visibility: hidden;
transition: 0.3s ;
}
.popup__body{
min-height:100%;
display: flex;
align-items: center;
justify-content: center;
padding: 30px 10px;
}
.popup__content{
background: white;
color:black;
max-width: 800px;
padding: 30px;
position: relative;
}
.popup__text{
font-size: 20px;


}
.popup__close{
position: absolute;
right: 10px;
top: 10px;
font-size: 20px;
cursor: pointer;

}
#popup:target{
    opacity:1;
    visibility:visible;
}




@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

h1{
	color: rgb(255, 255, 255);
	margin: 20px auto 0;
	width: 200px;
	text-align: center;
}
#wrapper{
	position: absolute;
	width: 320px;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -75px;
}

/* === Sign in Form === */
#signin {
	height: 90px;
	width: 300px;
	border-radius: 8px;
	position: relative;

}
#signin::before {
	display: block;
	position: relative;
	height: 2px;
	background: rgb(52, 56, 61);
	content: '';
	top: 44px;
	margin-left: 20px;
	z-index: 1;
}
#signin input:first-of-type{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#signin input:last-of-type{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
#signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
	background: rgb(28, 30, 33);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
	color: rgb(52, 56, 61);
}
#signin  input[type="text"], #signin  input[type="password"]{
	position: relative;
	display: block;
	width: 280px;
	height: 45px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 700;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
	color: rgb(255, 255, 255);
}
#signin button[type="submit"]{
	display: block;
	position: absolute;
	width: 52px;
	height: 52px;
	color: rgb(52, 56, 61);
	border-radius: 50px;
	outline: 0;
	z-index: 2;
	top: 19px;
	right: -24px;
	border: 6px solid rgb(52, 56, 61);
	font-size: 25px;
	text-indent: 0px;
	padding-left: 9px;
	padding-bottom: 3px;
	text-align: center;
}
#signin button[type="submit"]:hover{
	color: rgb(0, 126, 165);
	text-shadow: 0 0 10px rgb(0, 126, 165);
	cursor: pointer;
}
#signin p {
	color: rgb(79, 85, 97);
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
#signin p > a{
	color: rgb(111, 119, 135);
	text-decoration: none;
}
#signin p > a:hover{
	border-bottom: 1px solid;
}
